#stopwatch {
  ion-label[slot='end'] {
    opacity: 1 !important;
    color: var(--color-primary);
  }

  &.paused {
    --detail-icon-color: var(--form-value-color);

    ion-label[slot='end'] {
      color: var(--form-value-color);
    }
  }

  ion-label.ios span {
    display: inline-block;
    width: 50px;
    text-align: left;
  }

  ion-label.md span {
    margin-right: 5px;
  }
}
