#species-guide {
  ion-toolbar {
    --ion-toolbar-background: white;
    --color: black;

    ion-icon {
      color: black;
      --ionicon-stroke-width: 20px;
    }
  }

  .app-name {
    font-family: 'Museo300';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: black;
    align-items: center;

    &.md {
      padding: 0;
    }

    b {
      font-family: 'Museo700';
      color: var(--ion-color-primary);
    }
  }
}
