#species-guide {
  ion-toolbar {
    --ion-toolbar-background: white;
    --color: black;

    ion-icon {
      color: black;
      --ionicon-stroke-width: 20px;
    }
  }

  ion-toolbar {
    padding-top: env(safe-area-inset-top) !important;
  }
}
