#faq {
  ion-content {
    --padding-top: 25px;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .collapse-block + .item:not(.collapse-block) {
    --background: white;
    background: white;
    padding: 10px 0;

    &:not(:first-of-type) {
      --border-color: transparent;
    }
  }

  .collapse-block {
    visibility: visible;
    --inner-border-width: 0;
    font-weight: 500;
    --background: white;
    border-top: 1px solid #e8e8e8;

    &:first-of-type {
      border-top: none;
    }

    &.opened {
      --background: #eaeaea;
    }
  }

  .collapse-content-wrapper {
    width: 100%;

    ol {
      li {
        margin-bottom: 10px;
      }
    }

    ion-img {
      max-width: 90%;
      margin: 20px auto;
    }
  }
}
