#faq {
  ion-list {
    padding: 5px 0 !important;
  }

  .collapse-block + .item {
    --background: white;
    background: white;
    padding: 10px 0;
  }

  .collapse-block {
    visibility: visible;
    --inner-border-width: 0;
    font-weight: 500;
    --background: white;
    border-top: 1px solid #e8e8e8;

    &.opened {
      --background: #eaeaea;
    }
  }
}
