ion-content.filters {
  --background: #000000c7;
  position: absolute;
  height: calc(100vh - 56px);

  ion-item.collapse-block {
    text-transform: uppercase;
    font-weight: bold;
    --border-color: transparent;
    border-top: 1px #ffffff45 solid;
  }

  ion-col {
    height: 50px;
    color: white;
    padding: 15px;
  }

  ion-item {
    --background: transparent !important;
    color: white;
    ion-icon {
      color: white;
    }
  }
}
