$light-primary: #e1f0e7;

.custom-alert {
  ion-backdrop {
    opacity: 0.8;
    z-index: 100;
  }

  .message {
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 400px;
    z-index: 1000;
    border-radius: 20px;
    padding: 0;

    p {
      text-align: left;
      padding: 20px;
      margin: 0;
    }

    .stars-icon-wrapper {
      text-align: center;
      margin: 20px 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        color: #f2c94f;
        font-size: 55px;
      }
    }

    .title {
      color: var(--ion-color-dark-tint);
      font-weight: bold;
      text-align: center;
      font-size: 27px;
      margin: 0;
    }

    .message-total-records {
      color: var(--ion-color-dark-tint);
      text-align: center;
      font-size: 1.1em;
      margin: 0;
    }

    .message-content-with-background {
      background: $light-primary;
    }
  }

  ion-item {
    text-align: center;
    font-size: 1.4em;
    max-width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    color: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary) !important;
  }
}
