#species-count-taxon-group {
  ion-label[slot='end'] {
    max-width: 38%;
    text-align: right;
  }

  ion-content {
    --padding-top: 10px;

    ion-item-divider.ios span {
      opacity: 0.6;
      margin-right: 5px;
    }

    ion-item-divider.md span {
      margin-right: 20px;
    }

    ion-label.time {
      margin: 0;
      max-width: 66px;
    }

    ion-label.stage {
      display: flex;

      ion-badge {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    ion-label.location {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: max-content;
    }

    .species-list-header {
      background: #e6e6e6 !important;

      padding-left: 7px;
      color: #777777;
      --inner-padding-end: 0;
      &.ios {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      ion-label {
        width: 100%;
        font-weight: normal;
        font-size: 0.9em;
        text-align: center;

        &:nth-of-type(2) {
          padding-left: 10px;
          text-align: left;
        }
        &:first-of-type {
          max-width: 65px;
        }
        &:last-of-type.md {
          max-width: 56px;
        }

        &:last-of-type.ios {
          max-width: 40px;
        }
      }
    }
  }
}
