#home-user-surveys .custom-alert {
  ion-backdrop {
    z-index: 1000;
  }

  .message {
    padding: 0;
    max-height: 480px;
    max-width: 300px;

    .alert-species-profile {
      border-radius: 10px;
      overflow: hidden;

      ion-slides {
        max-height: 150px;
        background: #808080;
        overflow: visible;

        &.paginated {
          margin-bottom: 15px;
        }

        .swiper-pagination {
          position: absolute;
          bottom: -20px;

          .swiper-pagination-bullet {
            background: #000000;
          }
        }

        .image-with-background {
          max-height: 150px;
          overflow: hidden;
        }
      }

      ion-card-header {
        display: flex;
        padding: 10px;

        ion-avatar {
          background: #efefef;
          padding: 5px;
          height: 75px;
          width: 75px;
          flex-shrink: 0;
          position: relative;

          ion-icon.default-thumbnail {
            width: 70%;
            height: 70%;
            padding: 15%;
            --ionicon-stroke-width: 25px;
          }

          .verification-status {
            position: absolute;
            bottom: -12px;
            right: -7px;
            font-size: 2em;

            ion-icon {
              &.id-green {
                color: var(--ion-color-primary);
              }

              &.id-amber {
                color: var(--ion-color-warning);
              }

              &.id-red {
                color: var(--ion-color-danger);
              }
            }
          }
        }

        .title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: 21px;
          text-align: left;

          h1 {
            font-size: 1.2rem;
            margin: 0 !important;
          }
          h3 {
            font-size: 1rem;
            margin: 0 !important;
            color: var(--ion-color-dark);
          }
        }
      }

      ion-card-content {
        background-color: #efefef;
        padding: 8px 20px;
        color: black;

        .record-attribute {
          color: var(--ion-color-primary);
          min-width: 75px;
          display: inline-block;
          min-width: 100px;
        }
      }
    }
  }

  .button-wrapper {
    margin: 15px;
  }
}
