#user-statistics {
  ion-list {
    margin-top: 10px;

    ion-item-divider {
      background: var(--ion-color-step-100, #e6e6e6) !important;
      color: black;
    }

    ion-label.ion-text-right {
      max-width: 100px;
    }

    ion-item.md[detail='true'] {
      --inner-padding-end: 9px;

      ion-label.ion-text-right {
        padding: 0 10px;
      }
    }
  }
}
