#home-user-surveys {
  ion-header ion-toolbar {
    --background: transparent;

    ion-segment {
      max-width: calc(
        100% - 20px
      ); // -20px to match the padding of the list below
      margin: 8px auto;
      z-index: 100000000;
      border-radius: 10px;
      background: #fff;

      &[value='map'] {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.9);
      }

      ion-badge {
        display: inline;
        vertical-align: top;
        margin: 3px;
        margin-left: 3px;
      }

      ion-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
      }

      ion-segment-button {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    position: fixed;
    color: var(--ion-color-main);
  }

  ion-content {
    --overflow: hidden;

    ion-list {
      height: 100%;
    }

    .upload-all-button {
      margin: 10px auto;
      height: 35px !important;
      display: block;
      padding: 0 20%;
    }

    .info-background-message {
      margin-top: 20vh;
      margin-bottom: 10vh;

      ion-icon {
        border-radius: 7px;
        margin-bottom: -7px;
        background: var(--ion-color-primary);
        --ionicon-stroke-width: 20px;
        font-size: 1em;
      }
    }
  }
}
