#home-user-surveys {
  --ion-toolbar-background: transparent;

  ion-segment {
    max-width: 90%;
    margin: 8px auto;
    z-index: 100000000;
    border-radius: 10px;
    background: #fff;

    &[value='map'] {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.9);
    }

    ion-badge {
      display: inline;
      vertical-align: top;
      margin: 3px;
      margin-left: 3px;
    }

    ion-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 1px;
    }

    ion-segment-button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  ion-list {
    padding: 10px;
  }

  .info-background-message {
    margin-bottom: 10vh;

    ion-icon {
      border-radius: 7px;
      margin-bottom: -7px;
      // margin: 3px;
      --ionicon-stroke-width: 20px;
      font-size: 1em;
    }
  }
}
