.updated-records-dialog {
  margin-top: 10px;
  --padding-start: 0;
  --background: transparent;

  ion-checkbox {
    margin-right: 10px;
  }

  ion-label.md {
    --color: var(--ion-color-step-550, #737373);
  }
}
