.verification-message {
  --border-width: 0 !important;
  border-radius: 0 !important;
  margin: 0 !important;

  ion-label {
    padding: 10px 0;
  }

  &.verified {
    h2 {
      color: var(--ion-color-primary-shade) !important;
      margin-bottom: 20px;
    }
    --background: #e7fdf1;
    ion-icon,
    .info-button,
    ion-label ion-note {
      color: var(--ion-color-primary-shade) !important;
      --border-color: var(--ion-color-primary-shade) !important;
    }
  }

  &.plausible {
    h2 {
      color: var(--ion-color-warning-shade) !important;
      margin-bottom: 20px;
    }

    --background: #fcf3e2;
    ion-icon,
    .info-button,
    ion-label ion-note {
      color: var(--ion-color-warning-shade) !important;
      --border-color: var(--ion-color-warning-shade) !important;
    }
  }

  &.rejected {
    h2 {
      color: var(--ion-color-danger) !important;
      margin-bottom: 20px;
    }

    --background: #faf0ef;
    ion-icon,
    .info-button,
    .h1,
    ion-label ion-note {
      color: var(--ion-color-danger) !important;
      --border-color: var(--ion-color-danger);
    }
  }
}
