#single-species-count-home {
  ion-img {
    margin: 0 auto;
    padding: 10px 25px;
    max-width: 400px;
  }

  ion-header ion-button {
    --padding-end: 20px;
    --padding-start: 20px;
  }

  ion-label[slot='end'] {
    margin-right: 0;
    max-width: 45%;
    text-align: right;
  }

  ion-content {
    --padding-top: 10px;

    .website-link {
      margin: 10px auto 0;
      max-width: 80%;
    }

    ion-list {
      margin-bottom: 0;
    }

    #countdown {
      opacity: 1;
    }

    #countdown span {
      display: inline-block;
      opacity: 0.5;
      width: 50px;
      text-align: left;

      &.paused {
        opacity: 1;
        padding: 0 10px;
        width: inherit;
        color: var(--ion-color-tertiary);
      }

      &.warn {
        opacity: 1;
        color: var(--ion-color-danger);
      }
    }

    #add {
      transform: translate(-50%, 0);
      margin: 30px 0 10px;
      margin-left: 50%;
      width: 40%;
    }

    #species-list-sort {
      text-align: end;
      ion-button {
        margin-right: 12px;
        margin-bottom: 10px;
      }
    }

    #list {
      margin-top: 20px;
      font-weight: bold;

      .species-list-header {
        background: #e6e6e6 !important;

        padding-left: 7px;
        color: #777777;
        &.ios {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        ion-label {
          width: 100%;
          font-weight: normal;
          font-size: 0.9em;
          text-align: center;

          &:nth-of-type(2) {
            padding-left: 16px;
            text-align: left;
          }
          &:first-of-type {
            max-width: 54px;
          }
        }
      }

      ion-item {
        --padding-start: 0;

        ion-label {
          margin-left: 16px;
          font-weight: 700;
        }
      }

      ion-item {
        --padding-start: 0;
      }

      .precise-area-count-edit-count {
        margin: 0;
        width: 62px;
        height: 100%;
        font-size: 1.3em;

        div.label-divider {
          position: absolute;
          right: -11px;
          border-right: 1px solid rgba(0, 0, 0, 0.13);
          height: 75%;
        }
      }
    }

    .location-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 30px;

      max-height: 23px;

      ion-spinner {
        margin-top: -4px;
        width: 15px;
      }
    }
  }
}
