:root {
  --ion-color-primary: #3aa264;
  --ion-color-primary-rgb: 145, 167, 28;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #33794f;
  --ion-color-primary-tint: #59c985;

  --ion-color-secondary: #d1741e;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #a76629;
  --ion-color-secondary-tint: #f18a29;
  --ion-color-secondary-light: #fffdef;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #e0b500;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c7a100;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1f2722;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121413;
  --ion-color-dark-tint: #153522;

  --ion-color-medium: #646e68;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #505854;
  --ion-color-medium-tint: #96a09a;

  --ion-color-light: #fcfcfc;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: var(--ion-color-dark);
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-text-color: var(--ion-color-dark);

  --ion-page-background: #f4f5f8;
}

@font-face {
  font-family: 'Museo300';
  src: url('./font/Museo300-Regular.ttf');
}

@font-face {
  font-family: 'Museo500';
  src: url('./font/Museo500-Regular.ttf');
}

h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

h1 {
  font-family: 'Museo500';
}

h2,
h3 {
  font-family: 'Museo300';
}

.apps-section .apps-section-h {
  font-family: 'Museo300';
  margin: 20px auto 10px;
  color: var(--ion-color-primary);
}

ion-header ion-toolbar ion-title {
  font-family: 'Museo500';
}

ion-item-divider {
  font-family: 'Museo300';
  font-weight: normal;
}

ion-footer {
  ion-tab-button {
    font-family: 'Museo300';
    font-weight: normal;
  }
}

.menu-attr-item ion-icon {
  --ionicon-stroke-width: 20px;
}

ion-title,
ion-back-button {
  color: var(--ion-color-dark);
}

.info-message {
  background-color: #d0e4d8; // primary based

  p {
    font-size: 1.2em;
    color: var(--ion-color-dark);
  }
}

.info-background-message ion-button {
  margin-left: 10px;

  color: var(--ion-color-medium);
  --border-color: var(--ion-color-medium);
}

a {
  color: var(--ion-color-secondary);
}

/* ROUND-THEME START */
body {
  background-color: var(--ion-page-background);
}

ion-content {
  --background: var(--ion-page-background);
}

.info-message {
  border-radius: 10px;
  margin: 10px;
}

ion-item-divider {
  border: 0;
}

ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 15px;
}

.item-datetime,
ion-radio-group ion-item {
  --border-style: none;
  border-radius: 15px;
  margin: 10px;
}

.info-background-message {
  border-radius: 15px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);
}

div.rounded {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;

  ion-item:last-of-type {
    --border-style: none;
  }
}

ion-list {
  padding: 0 10px !important;
}

ion-list,
ion-item-divider {
  background: transparent !important;
}

ion-textarea {
  background: var(--ion-color-light) !important;
  padding: 0 10px;
}

.apps-section * {
  --background: transparent;
}

ion-radio-group {
  .item-radio-checked:not(.radio-input-default-option) {
    --background: var(--ion-color-primary-tint);
    color: var(--ion-color-light);
  }

  ion-label {
    font-weight: bold;
  }
}
/* ROUND-THEME END */

#location-page-header ion-toolbar {
  --ion-toolbar-background: var(--ion-color-light);

  ion-input,
  ion-icon {
    color: var(--ion-color-dark);
    --placeholder-color: var(--ion-color-dark);
  }

  ion-back-button {
    background-color: transparent !important;
    color: var(--ion-color-dark);
  }
}

#img-picker-array .img-picker ion-button {
  color: var(--ion-color-secondary);
}
