:root {
  --ion-color-primary: #3aa264;
  --ion-color-primary-rgb: 145, 167, 28;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #33794f;
  --ion-color-primary-tint: #59c985;

  --ion-color-secondary: #d1741e;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #a76629;
  --ion-color-secondary-tint: #f18a29;
  --ion-color-secondary-light: #fffdef;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #d1741e;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #a76629;
  --ion-color-warning-tint: #f18a29;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1f2722;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121413;
  --ion-color-dark-tint: #153522;

  --ion-color-medium: #646e68;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #505854;
  --ion-color-medium-tint: #96a09a;

  --ion-color-light: #fcfcfc;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: var(--ion-color-dark);
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-text-color: var(--ion-color-dark);

  --ion-page-background: #f4f5f8;
  --ion-item-border-color: #c8c7cc;
}

@font-face {
  font-family: 'Museo300';
  src: url('./fonts/Museo300-Regular.ttf');
}

@font-face {
  font-family: 'Museo500';
  src: url('./fonts/Museo500-Regular.ttf');
}

@font-face {
  font-family: 'Museo700';
  src: url('./fonts/Museo700-Regular.ttf');
}

h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

h1 {
  font-family: 'Museo500';
}

h2,
h3 {
  font-family: 'Museo300';
}

.app-name {
  font-family: 'Museo300';
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: black;

  &.md {
    padding: 0;
  }

  b {
    font-family: 'Museo700';
    color: var(--ion-color-primary);
  }
}

.apps-section .apps-section-h {
  font-family: 'Museo300';
  margin: 20px auto 10px;
  color: var(--ion-color-primary);
}

ion-title,
.gallery-modal .title {
  font-family: 'Museo500';
}

ion-item-divider {
  font-family: 'Museo300';
  font-weight: normal;
}

ion-footer {
  ion-tab-button {
    font-family: 'Museo300';
    font-weight: normal;
  }
}

.menu-attr-item ion-icon {
  --ionicon-stroke-width: 20px;
}

ion-title,
ion-back-button {
  color: var(--ion-color-dark);
}

.attr-page .info-message {
  --background: #d0e4d8; // primary based

  ion-icon,
  ion-note {
    color: var(--ion-color-primary-shade) !important;
  }
}

.md ion-header ion-title:not(:last-child) {
  padding: 0 10px; // header title to use the available space more effitiently
}

.info-background-message ion-button {
  margin-left: 10px;

  color: var(--ion-color-medium);
  --border-color: var(--ion-color-medium);
}

a {
  color: var(--ion-color-secondary);
}

/* ROUND-THEME START */
body {
  background-color: var(--ion-page-background);
}

ion-content {
  --background: var(--ion-page-background);
}

*:not(.rounded) > .info-message {
  border-radius: 10px;
  margin: 10px;
}

ion-item-divider {
  border: 0;
}

ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 15px;
}

.item-datetime,
ion-radio-group ion-item {
  --border-style: none;
  border-radius: 15px;
  margin: 10px;
}

.info-background-message {
  border-radius: 15px;
  margin-bottom: 40px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);
}

div.rounded {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;

  .counter-input-attr-item {
    border-bottom: 1px solid var(--ion-item-border-color);
  }

  ion-item:last-of-type {
    --border-style: none;
  }
}

ion-list {
  padding: 0 10px !important;
}

ion-list,
ion-item-divider {
  background: transparent !important;
}

ion-textarea {
  background: var(--ion-color-light) !important;
  padding: 0 10px;
}

.apps-section * {
  --background: transparent;
}

ion-radio-group {
  .item-radio-checked:not(.radio-input-default-option) {
    --background: var(--ion-color-primary-tint);
    color: var(--ion-color-light);
  }

  ion-label {
    font-weight: bold;
  }
}
/* ROUND-THEME END */

#location-page-header ion-toolbar {
  --ion-toolbar-background: var(--ion-color-light) !important;

  ion-input,
  ion-icon {
    color: var(--ion-color-dark) !important;
    --placeholder-color: var(--ion-color-dark) !important;
  }

  ion-back-button {
    background-color: transparent !important;
    color: var(--ion-color-dark) !important;
  }
}

/* Tablet-friendly */
html.plt-tablet {
  .info-message,
  .item-datetime,
  ion-list,
  ion-textarea {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.info-message.disabled {
  opacity: 0.3;
}

.photo-picker {
  --inner-padding-end: 0;

  #img-picker-array .img {
    margin-right: 5px;
    .delete {
      background-color: #80808085;
    }
  }

  #img-picker-array .img-picker {
    border-right: none;

    ion-button {
      background: #3aa3644a;
      margin: 5px;
      height: calc(80px - 10px);
      width: calc(80px - 10px);
      border-radius: 15px;
      transform: none;
    }
  }
}

.alert-message {
  text-align: left !important;
  font-size: 1em !important;

  ion-item {
    --background: transparent;
  }
}

.long-tap-tip-message-icon {
  background: var(--ion-color-primary);
  border-radius: 3px;
  padding: 3px;
  margin-bottom: -4px;
  color: white;
}

.md .picker-opt {
  font-size: 1em;
}

.slider-input-attr {
  margin: 0 10px;
  border-radius: 10px;
  --border-color: transparent;
}

.info-message {
  --inner-border-width: 0;
}

.input-attr {
  margin: 0 10px;
  border-radius: 10px;
  background: white;
  width: initial;
  margin: 0px 10px;
}

.updated-records-dialog {
  margin-top: 10px;
  --padding-start: 0;

  ion-checkbox {
    margin-right: 10px;
  }

  ion-label.md {
    --color: var(--ion-color-step-550, #737373);
  }
}

ion-content.disable-top-padding {
  --padding-top: 0 !important;
}

ion-label.verification-list-icons {
  max-width: max-content !important;
  border-radius: 5px;
  display: flex !important;
  flex-direction: row !important;
  margin-left: 0 !important;
  opacity: 1 !important;
  margin: 0;

  ion-label[slot='end'].verificationIcon {
    width: 25px !important;
    max-width: 25px !important;
    color: white !important;
    margin: 0;
    text-align: center !important;
    margin-left: 0 !important;
    opacity: 1 !important;
    font-weight: 500 !important;
  }

  .id-green {
    background: var(--ion-color-primary-shade) !important;
  }

  .id-amber {
    background: var(--ion-color-warning-tint) !important;
  }

  .id-red {
    background: var(--ion-color-danger-shade) !important;
  }
}

ion-icon[slot='end'].verificationIcon {
  border-radius: 5px !important;
  --ionicon-stroke-width: 2em;
  font-size: 1.6em;
  margin: 0;
  margin-left: 5px;
}

.verificationIcon.id-green {
  color: var(--ion-color-primary-shade) !important;
}

.verificationIcon.id-amber {
  color: var(--ion-color-warning-tint) !important;
}

.verificationIcon.id-red {
  color: var(--ion-color-danger-shade) !important;
}

html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}
