#timed-species-count-edit-occurrence {
  ion-content {
    --padding-top: 10px;

    #area-count-occurrence-edit-count {
      div[slot='end'] {
        margin-right: -20px;

        span {
          display: inline-block;
          vertical-align: middle;
          vertical-align: -webkit-baseline-middle;
          opacity: 0.5;
          width: 20px;
          text-align: center;
        }
      }

      &.item-disabled span {
        margin-right: 20px;
      }
    }

    .item-disabled {
      opacity: 1;
    }
  }
}
